<h1>Bienvenido a la web</h1>
<p>Esta es la página de inicio.</p>
<button onclick="goToProducts()">Ver productos</button>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/viewsIndex.js"></script>